{% extends 'layout.html' %}

{% block styles %}
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="static/css/forms.css" rel="stylesheet" type="text/css">
    <!--script to disable the submit button -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script type="text/javascript">

    $(document).ready(function () {
        $("#textInputForm").submit(function () {
            $(".submitBtn").attr("disabled", true);
            $(".submitBtn").attr("value", "Processing please wait...");
            return true;
        });
    });

    </script>

    <!--script ends here-->

{% endblock %}


{% block content %}
<div class="formwrapper">
    <h1 class="title">Text2Analysis</h1>
    <p>
        Automated and simplified pipeline for NLP analysis of your texts. Using Gensim and LDA modelling. Developed at the Creative Computing Institute at UAL. Please note that the analysis is stochastic to some degree (the order of documents is randomly shuffled), expect some variation in the results.
    </p>

    <h2 class="title">Choose your text input source:</h2>
    <p>
        You can either enter the text directly, or upload a text or csv file. Note that if you want to split your text data into separate documents (and not as a raw stream of text), you'll need to use the csv format placing every document's text on its own row.
    </p>

    <form method="post" action="process" id="textInputForm" enctype=multipart/form-data>
        <div class="form-field">
            <textarea name="user_input" rows="5">
{% if sample_text %}{{ sample_text }}{% else %}(Couldn't load text data!){% endif %}
            </textarea>
        </div>

        <div class="form-field">
            <label for="upload_file">Or upload text or csv file (if you upload one the raw text entry above will be ignored):</label>
            <input id="upload_file" type="file" name=file accept=".txt,.csv">
        </div>

        <div class="form-field">
            <label for="number_of_topics">Select number of topics</label>
            <input id="number_of_topics" name="number_of_topics" type="number" value="4" min="1">
        </div>
        <div class="form-field"><input class="submitBtn" type=submit value="Send text"></div>
    </form>


    <h2 class="title">Formating</h2>
    <p>
        Either input raw text (into the textarea or as a .txt file), or formated csv file with each document on it's own row. If these documents have a caption title, you can optionally enter this caption as a second item in the same row of the csv file (first column contains the text, while the second contains the caption).
        Captions can be used as additional information when visualizing the data (for example as a shown mouseover text for each embedded dot on a tsne plot).
    </p>
    <p>See example formating in this <a href="example_csv">demo file</a>.</p>


</div>
{% endblock %}

