{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="formwrapper">
    <h2 class="title">Enter text</h2>

    <form method="post" action="process">
        <div class="form-field"><textarea name=user_input>
{% if sample_text %}{{ sample_text }}{% else %}(Couldn't load text data!){% endif %}
        </textarea></div>
        <div class="form-field"><input type=submit value="Send text"></div>
    </form>
</div>
{% endblock %}

