{% extends 'layout.html' %}

{% block styles %}
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="../static/css/forms.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<div class="formwrapper">
  <h1 class="title">Text2Analysis</h1>
  <p>
    Automated and simplified pipeline for NLP analysis of your texts. Using Gensim and LDA modelling. Developed at the Creative Computing Institute at UAL.
  </p>

  <h2 class="title">Analysis of the text:</h2>
  <p>
    Analysis of the last text:
  </p>

  <h2 class="title">Topic wordclouds analysis</h2>
  <div style="text-align: center;">
  {% for i in range(n_topics) %}
   <span><img src="../static/{{analysis_name}}/wordclouds_{{ '%02d' % i }}.png?v={{rand_i}}" width="200px"></span>
  {% endfor %}
  </div>

  <h2 class="title">pyLDAviz analysis</h2>
  <iframe class="pyldaiframe" src="../pyldaviz/{{analysis_name}}?v={{rand_i}}" width="100%" height="800px"></iframe>

  <h2 class="title">Download results:</h2>
  <p>See pyLDAviz fullscreen: <a href="../pyldaviz/{{analysis_name}}?v={{rand_i}}">here</a>.</p>
  <p>Download all data: <a href="../download/{{analysis_name}}?v={{rand_i}}">download as zip <img src="../static/img/download-solid.svg" width="40px" alt="Download!"></a></p>

  {% if tsne_on %}
  <h2 class="title">tSNE of the sentences / documents colored by topic they belong to</h2>
  <iframe class="pyldaiframe" src="../tsne/{{analysis_name}}?v={{rand_i}}" width="100%" height="800px"></iframe>
  {% else %}{% endif %}

</div>
{% endblock %}

