{% extends 'layout.html' %}

{% block content %}
<div>
  Text input was:
{% if user_input %}
  <p>{{ user_input }}!</p>
{% else %}
  <p>(Couldn't load text data!)!</p>
{% endif %}
</div>

<div>
  Analysis says:
{% if analysis_reply %}
  <p>{{ analysis_reply }}!</p>
  <p>See the last results <a href="last">here</a>.</p>
  <p>Or download <a href="download">here</a>.</p>
{% else %}
  <p>(Couldn't load analysis!)!</p>
{% endif %}
</div>

<div>
  <p>Wordclouds:</p>

{% for i in range(n_topics) %}
 <span><img src="static/wordclouds_{{ '%02d' % i }}.png?v={{rand_i}}" width="200px"></span>
{% endfor %}



</div>

{% endblock %}

